* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000000;
  color: white;
}

.container {
  display: flex;
  width: 90%;
  height: 90vh;
  background: rgb(0, 0, 0);
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.reg-a {
  color: #9f06ff;
  text-decoration: none;
}

/* Left Section */
.left-section {
  width: 50%;
  padding: 3rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.signin-box h2 {
  font-size: 2rem;
}

.signin-box p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-box {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.input-box i {
  margin-right: 0.5rem;
  color: rgb(255, 255, 255);
}

.input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: white;
  background-color: #000000;
}

.input-box input::placeholder {
  color: rgb(221, 220, 219);
}
.toggle-password {
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.options a {
  text-decoration: none;
  color: #8d67ab;
}

.login-btn {
  width: 100%;
  padding: 0.8rem;
  background: #8d67ab;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.or-text {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons i {
  font-size: 1.5rem;
  color: #555;
  cursor: pointer;
}

.right-section {
  width: 50%;
  background: #301f3d;
  color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.contact {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1rem;
}

.image-placeholder img {
  max-width: 80%;
}

.right-section h3 {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.right-section p {
  font-size: 1rem;
}
