<aside class="sidebar">
  <div class="sidebar-header">
    <button class="toggle-btn">☰</button>
    <span class="navlogo">PrepMate</span></div>
  </div>
  <ul class="menu">
    <li>
      <a href="flashcards.php"
        ><i class="fas fa-home"></i><span> Dashboard</span></a
      >
    </li>
    <li>
      <a href="quiz.html"
        ><i class="fas fa-question-circle"></i><span> Quiz</span></a
      >
    </li>
    <li>
      <a href="flashcards.php"
        ><i class="fas fa-book"></i><span> Flashcards</span></a
      >
    </li>
    <!-- <li>
      <a href="ai-interview.html"
        ><i class="fas fa-microphone"></i><span> Interview</span></a
      >
    </li> -->
  </ul>
</aside>

<header class="header">
  <div class="user-profile">
    <button class="notification-btn">🔔</button>
    <img src="assets/images/user.jpg" alt="User Profile" />
  </div>
</header>
